
.supform{
    background-color:#FAFAFA;
    padding: 10%;
    opacity: 0.8;
}
h1{
    font-size: 200%;
}
table{
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
    font-size: 150%;
}
th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {background-color: #FBFCFC  ;}

tr:hover {background-color: #A9CCE3;}